border-1px($color)  // styl 全局函数 使用@import调用
  position: relative;
  &:after
      display: block;
      position: absolute;
      left: 0
      bottom:0
      width: 100%
      border-top: 1px solid $color
      content: ''
